body {
    background-color: black;
    color: goldenrod;
    margin: 20px;
}

.iconimg {

    width: 10%;
    height: 10%;

}

.gsc-control-cse{

    position: absolute;
    transform: translate(-50%, -50%);
    top: 5%;
    left: 81%;
    max-width: 600px;
    width: 55%;
    display: grid;
    grid-template-columns: 1fr 2rem;
    align-items: center;
    background-color: rgb(56, 56, 56);
    outline: 0;
    outline-color: #fff;
    border: none !important;
    border-color: #fff;
    padding: 1rem 3rem;
    border-radius: 6rem;
    background-color: transparent !important; 
}

.gsc-control-wrapper-cse {

    width: 500px !important;
    background-color:transparent

}

.gsc-search-box .gsc-search-box-tools{

    background-color: black !important;
    font-size: 13px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 4px;
    margin-left: 0;
    width: 100%;

}

.gsc-input-box {
    border: none !important;
    background: rgba(40, 40, 40) !important;
}

.gsib_a {

    background: rgba(40, 40, 40);

}

#gsc-i-id1.gsc-input {

    background: rgba(40, 40, 40);
    color: goldenrod;
    
}

.gsst_a .gscb_a {

    color: goldenrod;
    
}

.gsc-search-button-v2 svg {

    fill: goldenrod !important;
    max-width: 800px !important; 

}

.gsc-search-button {

    max-width: 800px !important;

}

.content {
    position: relative;
    left: 20%;
    height: 100%;
    font-size: 18px;
    background-color: rgba(40, 40, 40, 0.4);
    background: max-content;
    width: 78%;
}

.tableContents {

    background-color: rgba(40, 40, 40, 0.4);
    background: max-content;
    width: 18%; 
    
}