body {
    background-color: black;
    font-size: 14px;
    color: goldenrod;
    font-family: "EB Garamond", Arial, Helvetica, sans-serif
}

img.bg {
    width: 15%;
    height: 25%;
    left: 43%;
    position: fixed;
    top: 18.5%;
    z-index: 1;
    align-items: center;
}

img.bgalt {
    width: 75%;
    height: 50%;
    left: 12%;
    position: fixed;
    top: 20%;
    z-index: 1;
}

img.icon {
    position:sticky;
    top: 0;
    left: 0;
}

img {
    vertical-align: middle;
    border: 0;
}

.title {
    display: block;
    position: fixed;
    top: 40.5%;
    left: 37%;
    font-size: large;
}

#form {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 50%;
    max-width: 65rem;
    width: 55%;
    display: grid;
    grid-template-columns: 1fr 2rem;
    align-items: center;
    background-color: rgb(56, 56, 56);
    outline: 1;
    outline-color: #fff;
    border-color: #fff;
    padding: 1rem 3rem;
    border-radius: 6rem;
}

#form input{
    font-size: 2rem;
    padding: 1rem;
    outline: 0;
    border: 0;
    background-color: transparent;
    color: goldenrod;
}

.search-btn {
    background-color: transparent;
    border: 0;
    padding: 0;
    height: 3rem;
    width: 3rem;
    display: grid;
    place-items: center;
    color: #fff;
}

@media screen and (max-width: 870px) {
    
    .search-btn { 
        display: none;
    }

}

.gsce-search {

    position: absolute;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 50%;
    max-width: 65rem;
    width: 55%;
    display: grid;
    grid-template-columns: 1fr 2rem;
    align-items: center;
    background-color: rgb(56, 56, 56);
    outline: 1;
    outline-color: #fff;
    border-color: #fff;
    padding: 1rem 3rem;
    border-radius: 6rem;

}