body {
    background-color: black;
    font-size: 14px;
    color: goldenrod;
    font-family: "EB Garamond", Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 30px;
    margin-top: 50px;
}

img.bg {
    margin-left: 13%;
    justify-content: center;
}


img.icon {
    position:sticky;
    top: 0;
    left: 0;
}

img {
    vertical-align: middle;
    border: 0;
}

.title {
    position: relative;
    left: 25%;
    font-size: 35px;
}

.gsc-control-cse{

    position: absolute;
    transform: translate(-50%, -50%);
    top: 65%;
    left: 52%;
    max-width: 1000px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2rem;
    align-items: center;
    background-color: rgb(56, 56, 56);
    outline: 0;
    outline-color: #fff;
    border: none !important;
    border-color: #fff;
    padding: 1rem 3rem;
    border-radius: 6rem;
    background-color: transparent !important; 
}

.gsc-control-wrapper-cse {

    width: 700px !important;
    background-color:transparent;
    

}

.gsc-search-box .gsc-search-box-tools{

    background-color: black !important;
    font-size: 13px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 4px;
    margin-left: 0;
    width: 100%;

}

.gsc-input-box {
    border: none !important;
    background: rgba(40, 40, 40) !important;
}

.gsib_a {

    background: rgba(40, 40, 40);

}

#gsc-i-id1.gsc-input {

    background: rgba(40, 40, 40);
    color: goldenrod !important;
    
}

.gsst_a .gscb_a {

    color: goldenrod !important;
    
}

.gsc-search-button-v2 svg {

    fill: goldenrod !important;
    max-width: 800px !important; 

}

.gsc-search-button {

    max-width: 800px !important;

}

.heading {
    position: absolute;
    margin: 0 auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 800px;
    height: 600px;
}


