body {
    background-color: black;
    color: goldenrod;
}

.gsce-search {

    position: absolute;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 50%;
    max-width: 65rem;
    width: 55%;
    display: grid;
    grid-template-columns: 1fr 2rem;
    align-items: center;
    background-color: rgb(56, 56, 56);
    outline: 1;
    outline-color: #fff;
    border-color: #fff;
    padding: 1rem 3rem;
    border-radius: 6rem;

}

.gsc-control-cse{

        position: absolute;
        transform: translate(-50%, -50%);
        top: 10%;
        left: 67%;
        max-width: 600px;
        width: 55%;
        display: grid;
        grid-template-columns: 1fr 2rem;
        align-items: center;
        background-color: rgb(56, 56, 56);
        outline: 1;
        outline-color: #fff;
        border: none !important;
        border-color: #fff;
        padding: 1rem 3rem;
        border-radius: 6rem;
        background-color: rgb(0, 0, 0) !important; 
}

.gsc-control-wrapper-cse {

    width: 500px !important;
    background-color: rgb(0, 0, 0);

}

.gsc-search-box .gsc-search-box-tools{

    background-color: black !important;
    font-size: 13px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 4px;
    margin-left: 0;
    width: 100%;

}

.gsc-input-box {
    border: none !important;
    background: rgba(40, 40, 40) !important;
}

.gsib_a {

    background: rgba(40, 40, 40);

}

#gsc-i-id1.gsc-input {

    background: rgba(40, 40, 40);
    color: goldenrod;
    
}